.just-registered {
    display: none;
    color: green;
}

.visible {
    display: block;
}

.new-user {
    border: none;
    background-color: unset;
    color: blue;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}   